#myMenu {
  position: relative;
  display: inline-block;
  padding-top: 1rem;
  padding-left: 2rem;

  #hamburgerButton {
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
      color: $color-button-primary;
    }
  }

  #menuOptions {
    display: none;
    position: absolute;
    background-color: $color-background-primary;
    min-width: 12rem;
    max-width: 12rem;
    box-shadow: 0rem 0.5rem 1rem 0rem $color-background-primary;
    z-index: 1;

    a {
      color: $color-background-secondary;
      padding: 0.8rem 1rem;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: $color-button-pause;
      }
    }
  }

  &:hover #menuOptions {
    display: block;
  }
}
@media (min-width: 768px) {
  #menuOptions {
    a {
      transition: transform 0.3s ease; // Smooth transition

      &:hover {
        transform: scale(1.1); // Increase size to 110% when hovered over
      }
    }
  }
}
