@mixin centerShit {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @include centerShit();
    width: 100vw;
    height: 100vh;
    background-color: orange;
    overflow: hidden;
}