$color-text-primary: #222222;
$color-text-secondary: #eeeeee;
$color-button-primary: #000000;
$color-button-active: #45a049;
$color-button-stop: #a70909;
$color-button-hover: #0000003f;

$color-background-primary: #eeeeee;
