$color-text-primary: #222222;
$color-button-primary: #000000;
$color-button-active: #45a049;
$color-button-stop: #a70909;
$color-button-hover: #0000003f;

$color-background-primary: #eeeeee;

//Colors for DigitalWatch
$color-digitalWatch-background: #222121;
$color-digitalWatch-border: #747474;
$color-digitalWatch-secondLines: #ffffff;
$color-digitalWatch-handpatch: #7c7379;
