$color-text-primary: #222222;
$color-text-secondary: #eeeeee;
$color-button-primary: #000000;
$color-button-active: #45a049;
$color-button-stop: #a70909;
$color-button-pause: #ffc0cb;
$color-button-lap: rgb(97, 97, 210);
$color-button-hover: #0000003f;

$color-background-primary: #eeeeee;

$alarm-primary-background: #222;

$alarm-ellipse-1: rgba(66, 66, 66, 0.705);
$alarm-ellipse-2: rgba(255, 255, 255, 0.04);
$alarm-ellipse-3-4: rgba(255, 255, 255, 0.02);
//Colors for AnalogWatch
$color-digitalWatch-background: #222121;
$color-digitalWatch-border: #747474;
$color-digitalWatch-secondLines: #ffffff;
$color-digitalWatch-handpatch: #7c7379;
