@keyframes button-move {
  0% {
    transform: translate(-50px, 0px) rotate(10deg);
  }

  50% {
    transform: translate(50px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(-10deg);
  }
}
