@import "../components/hamburgerMenu/hamburger.scss";
@import "../components/set-timer/setTimer.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.allInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}
